@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.nav {
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style: none;
  background-color: #000000;
  color: #fff;
}

figure {
  display: flex;
  top: auto;
}

figcaption {
  width: 100%;
  top: auto;
}

.image-left {
  flex-direction: ro;
}


.nav .container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav ul {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
}

.nav ul li a:hover {
  color: grey;
}

main {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .accent-title {
  align-items: flex-start;
  color: #E69A8DFF;
}




.contain {
  width: 70%;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#00172D), color-stop(#02386E), to(#0052A2));
  background: linear-gradient(270deg, #00172D, #02386E, #0052A2);
  background-size: 600% 600%;
  border-radius: 10px;
  padding: 5px 10px;
  -webkit-animation: containergradient 30s ease infinite;
  animation: containergradient 10s ease infinite;
  padding: 30px auto;
  text-align: center;
}

.container .btn-table {
  background-color: #2666CF;
  width: 80%;
  padding: 15px;
  margin: 8px;
  
}

.container .btn-table:hover {
  background-color: #00172D;
  color: white;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.container .btn-calculate {
  padding: 15px;
  margin: 8px;
  background-color: #2666CF;
  width: 80%;
}

.container .btn-calculate:hover {
  background-color: #00172D;
  color: white;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@-webkit-keyframes containergradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes containergradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradx {
  color: orange;
}

.accent-title {
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
  padding: 25px auto;
  font-weight: 500;
}

body {
  background-color: #000B18;
  color: #ffff;
}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
  text-align: left;
}

.left {
  text-align: left;
}
.right{
  text-align: right;
}

.footer {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-icon__link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


.container1{
  max-width: 1000px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container1 .box{
  width: calc(33% - 10px);
  background: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  
  margin: 2px;
  
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container1 .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #02386E;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns button{
  background: #02386E;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #02386E;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #02386E;
  transition: all 0.3s linear;
}
.btns button:first-child{
  background: none;
  margin-right: 5px;
}
.btns button:last-child{
  color: #fff;
  margin-left: 5px;
}
.btns button:first-child:hover{
  background: #02386E;
  color: #fff;
}
.btns button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}


/*# sourceMappingURL=styles.css.map */